
#title {
    width: 500px;
    height: 80px;
    resize:none;
}

#select_box {
    width: 30px;
    height: 10px;
    resize: none;
}

#select_box {
   
}



#body_title {
   
}



 #body {
    width: 800px;
    height: 200px;
    resize: none;
}

