
#title {
    width: 500px;
    height: 80px;
    resize:none;
} 
/* .shadow.btn-lg{
        display: inline-block;
        padding: 0.3em 1em;
        text-decoration: none;
        color: #67c5ff;
        border: solid 2px #67c5ff;
        border-radius: 3px;
        transition: .4s;
    
} */

/* .shadow.btn-lg:hover {
    background: #67c5ff;
    color: white;
  } */

  
.shadow.btn-primary.btn-lg:active {
    
    /*ボタンを押したとき*/
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    border-bottom: none;/*線を消す*/
  }

  

  

 #body {
    width: 800px;
    height: 200px;
    resize: none;
} 

/* .body.border-secondary{
  border:none;
} */

.body{
 border:black;
}