#content {
    width: 900px;
    margin: 0 auto;
    padding-top: 230px;
    padding-bottom: 280px;
}

#content:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.profile-image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.created-at {
    position: absolute;
    right: 10px;
    bottom: -20px;
}

.fav-red {
    color: red;
}

.fav-yellow {
    color: yellow;
}