.btn-real-dent {
  position: relative;
  text-decoration: none;
  color: rgba(60, 61, 62, 0.54);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
}
.btn-real-dent i {
  /*ボタン自体*/
  position: fixed;
  content: '';
  width: 80px;
  height: 80px;
  line-height: 80px;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  font-size: 40px;
  background-image: linear-gradient(#e8e8e8 0%, #d6d6d6 100%);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
  border-bottom: solid 2px #b5b5b5;
}
  
.btn-real-dent .fa:active {
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
  border-bottom: solid 2px #d8d8d8;
}

header {
    z-index: 100;
}