.wrapper {
  margin: 0 auto;
  background-color: pink;
}
.main {
  background: pink;
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  margin-top: 150px;
  margin-bottom: 100px;
}

.profile {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-right: 60px;
}


.left {
  display: flex;
  flex-direction: column;
}

.left a{
  margin-top: 5px;
}

.top {
  display: flex;
  margin-bottom: 10px;
}

.top p{
  margin-left: 20px;
}

.middle {
  display: flex;
  margin-bottom: 10px;
  align-items: flex-end;
}

.middle p{
  margin-left: 20px;
}

.bottom {
  display: flex;
  background-color: white;
  height: 100px;
  width: 200px;
  border: solid 1px;
  margin-left: 20px;
}

.comment{
  margin-top: 5px;
  padding-left: 5px;
}

.name{
  font-size: 30px;
}

.age {
  font-size: 14px;
}

.edit {
  margin-left: 30px;
}
.tab_item {
  display: none;
}

.is-active-item {
  display: block;
}

.idea-save{
  display: inline-block;
  margin-left: 130px;
}

/*ここから下は見た目だけ*/
a {
  display: block;
  color: inherit;
  text-decoration: none;
}

.tab_btn {
  font-size: 24px;
  padding: 5px;
  border-bottom: solid 1px #E0F2F7;
  display: inline-block;
  background-color: #E0F2F7;
  opacity: 0.5;
  border-radius: 5px 5px 0 0;
}

.is-active-btn {
  opacity: 1;
  border-bottom: solid 1px #E0F2F7;
  color: #00BFFF;
}

.tab_item {
  width: 800px;
  height: 600px;
  padding: 5px;
  color: #00BFFF;
  background-color: #E0F2F7;
}

.profile-image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}